<div class="container" *ngIf="projects; else notFound">
    <div class="row">
        <div class="col-12">
            <input type="text" [(ngModel)]="searchKey" name="" placeholder="Aranacak proje" id="" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-12" *ngFor="let project of projects | search: searchKey">
            <app-project [activeProject]="project"></app-project>

        </div>
    </div>
</div>
<ng-template #notFound>
    <div class="alert alert-danger">
        Projeler, API'den çekilemedi...
    </div>
</ng-template>
