<app-header-menu></app-header-menu>
<div class="container">


  <h1 [innerText]="title"></h1>
  <p>Bu sayfa, {{ creator }} tarafından {{ createdDate }} tarihinde oluşturulmuştur. </p>
  <button class="btn btn-success" (click)="filter()">{{getButtonText()}}</button>

  <p>Yapılacak toplam iş: {{ getItemsCount() }}</p>
  <div *ngFor="let item of todoItems">
    <div>
      <input class="form-check-input p-1" type="checkbox" [(ngModel)]="item.isDone" name="" id="">  {{item.task}}
      <span [ngClass]="item.isDone ? 'bg-primary':'bg-danger'" class="badge rounded-pill">{{item.isDone ? 'yapıldı':'yapılmadı'}}</span>
    </div>
    <!-- <li [ngClass]="item.isDone ? 'green':'red'">{{item.task}} ({{item.isDone ? 'yapıldı':'yapılmadı'}})</li> -->
  </div>

<div class="row">
  <div class="col-12">
    <input #task type="text" class="form-control" placeholder="Yapılacak iş" value="">
    <button (click)="addNewTask(task.value)" class="btn btn-primary">Yeni Görev Ekle</button>
   </div>

</div>
</div>